{% extends 'base.html.twig'  %}
{% block title %}{{ article.title }}{% endblock %}
{%block body%}
  <h4>{{ article.title }}</h4> 
  <p>{{ article.body }}</p>
  <hr/>
  <a href="/symfony-articles/public/">Go Back</a>
{% endblock %}
